<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ page.title }} | {{ site.title }}</title>
  <meta name="description" content="{{ page.description | escape }}">
  <link rel="stylesheet" href="{{ '/assets/css/style.css' | relative_url }}">
  {% seo title=false %}
</head>
<body>
  {% include nav.html %}
  <main>
    {{ content }}
  </main>
  {% if site.show_footer %}
  <footer>
    <p><a href="https://www.linkedin.com/in/muntasimulhaque/ " target="_blank" rel="noopener noreferrer">LinkedIn</a> · <a href="https://scholar.google.com/citations?user=XO3Zz1EAAAAJ&hl=en" target="_blank" rel="noopener noreferrer">Google Scholar</a> · <a href=" https://x.com/muntasimulhaque " target="_blank" rel="noopener noreferrer">X (Twitter)</a> · <a href= "mailto:muntasim.u.h@gmail.com">Email</a></p>
  </footer>
  {% endif %}
</body>
</html>