<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{% if page.title and page.title != site.title %}{{ page.title }} | {% endif %}{{ site.title }}</title>
  <meta name="description" content="{% if page.description %}{{ page.description | escape }}{% else %}{{ site.description | escape }}{% endif %}">
  <link rel="stylesheet" href="{{ '/assets/css/style.css' | relative_url }}">
  {% seo title=false %}
</head>
<body>
  <main>
    {{ content }}
  </main>

  {% if site.show_footer %}
  <footer>
    <p><a href="https://www.linkedin.com/in/muntasimulhaque/" target="_blank">LinkedIn</a> |
      <a href="https://scholar.google.com/citations?hl=en&user=XO3Zz1EAAAAJ&view_op=list_works&authuser=3&sortby=pubdate" target="_blank">Google Scholar</a> |
      <a href="https://x.com/muntasimulhaque" target="_blank">X (formerly Twitter)</a> |
      <a href="mailto:muntasim.u.h@gmail.com">Email</a></p>
  </footer>
  {% endif %}
</body>
</html>